html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

@font-face {
  font-family: "HNeue";
  src: url("../Font/HelveticaNeue.ttc");
}

body {
  font-family: "HNeue";
  display: flex;
}

input,
textarea {
  outline: none;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.left {
  width: 1098px;
  height: 1080px;
  background-color: #f9f9f9;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="tel"],
textarea {
  padding: 13px 16px 14px 16px;
}

header {
  margin: 0 149px 0 139.9px;
  padding-top: 47px;
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(26, 26, 26, 1);
}

.formHeader {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  color: rgba(26, 26, 26, 1);
}

.pageNumber {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: rgba(26, 26, 26, 1);
  margin-left: 614px;
}

.goBackArrow {
  position: absolute;
  width: 9.21px;
  height: 16px;
  left: 62px;
  top: 57px;
}

.first-and-last-names {
  display: flex;
  margin-top: 77px;
  margin-left: 139.9px;
  gap: 56px;
}

.form-field {
  display: flex;
  flex-direction: column;
}

.first-and-last-names input {
  margin-bottom: 8px;
  box-sizing: border-box;
  width: 377px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}

.first-and-last-names small {
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #2e2e2e;
}

input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.first-and-last-names label {
  font-weight: bold;
  width: 371px;
  font-style: normal;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 8px;
}

.passName {
  height: 16.5px;
  width: 16.5px;
  border-radius: 0px;
  position: absolute;
  margin-top: 45px;
  margin-left: 340px;
  display: none;
  object-fit: cover;
}

.errorName {
  height: 16.5px;
  width: 16.5px;
  border-radius: 0px;
  position: absolute;
  margin-top: 45px;
  margin-left: 340px;
  display: none;
}

.passLastName {
  height: 16.5px;
  width: 16.5px;
  border-radius: 0px;
  position: absolute;
  margin-top: 45px;
  margin-left: 340px;
  display: none;
  object-fit: cover;
}

.errorLastName {
  height: 16.5px;
  width: 16.5px;
  border-radius: 0px;
  position: absolute;
  margin-top: 45px;
  margin-left: 340px;
  display: none;
}

.upload-image {
  margin-top: 54px;
  margin-left: 139.9px;
  display: flex;
}

.upload-image h2 {
  width: 232px;
  height: 22px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #1a1a1a;
}

.upload-image label {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  font-style: normal;
  background-color: #0e80bf;
  color: white;
  padding: 4px 19px 6px 19px;
  border-radius: 4px;
  cursor: pointer;
  width: 107px;
  height: 27px;
  margin-left: 19px;
}

.upload-image input[type="file"] {
  opacity: 0;
}

.passImage {
  height: 16.5px;
  width: 16.5px;
  position: absolute;
  display: none;
  object-fit: cover;
  margin-top: 6px;
  margin-left: 365px;
}

.errorImage {
  height: 16.5px;
  width: 16.5px;
  position: absolute;
  display: none;
  margin-top: 6px;
  margin-left: 365px;
}

.about {
  display: flex;
  flex-direction: column;
  margin-left: 139.9px;
  margin-top: 49px;
}

.about h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.about textarea {
  margin-top: 8px;
  width: 810px;
  height: 103px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
  overflow: scroll;
  resize: none;
}

.about textarea::placeholder {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: rgba(0, 0, 0, 0.6);
}

.e-mail {
  display: flex;
  flex-direction: column;
  margin-top: 33px;
  margin-left: 139.9px;
}

.e-mail label {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  margin-bottom: 8px;
}

.e-mail input {
  width: 810px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}

.e-mail small {
  margin-top: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #2e2e2e;
}

.passE-Mail {
  height: 18.752519607543945px;
  width: 20.99802017211914px;
  border-radius: 0px;
  position: absolute;
  margin-left: 820px;
  margin-top: 46px;
  object-fit: cover;
  display: none;
}

.errorE-Mail {
  height: 18.752519607543945px;
  width: 20.99802017211914px;
  border-radius: 0px;
  position: absolute;
  margin-left: 820px;
  margin-top: 46px;
  object-fit: cover;
  display: none;
}

.phone-number {
  display: flex;
  flex-direction: column;
  margin-top: 29px;
  margin-left: 139.9px;
  width: 810px;
}

.phone-number label {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: black;
  margin-bottom: 8px;
}

.phone-number input {
  height: 48px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  border-radius: 4px;
}

.phone-number small {
  margin-top: 8px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #2e2e2e;
}

.passPhoneNumber {
  height: 18.752519607543945px;
  width: 20.99802017211914px;
  border-radius: 0px;
  position: absolute;
  margin-left: 770px;
  margin-top: 44px;
  object-fit: cover;
  display: none;
}

.errorPhoneNumber {
  height: 18.752519607543945px;
  width: 20.99802017211914px;
  border-radius: 0px;
  position: absolute;
  margin-left: 770px;
  margin-top: 44px;
  object-fit: cover;
  display: none;
}

.next {
  margin-top: 160px;
  margin-left: 799px;
  width: 151px;
  height: 48px;
  right: 972px;
  bottom: 65px;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #6b40e3;
  border-radius: 4px;
  border: none;
}

.right {
  background-color: #ffffff;
  width: 822px;
  height: 1080px;
}

.userInfo {
  margin-left: 80px;
  margin-top: 68px;
}

.names {
  display: flex;
  gap: 20px;
}

#rightName,
#rightLastName {
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 42px;
  color: #f93b1d;
}

.mailNumber {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.emailLogo,
.phoneLogo {
  height: 16.666664123535156px;
  width: 16.666664123535156px;
}

#rightMail,
#rightNumber {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #1a1a1a;
  display: flex;
  gap: 10px;
}

#phoneLogo {
  margin-top: 3px;
  display: none;
}

#mailLogo {
  margin-top: 4px;
  display: none;
}

.aboutMeRight {
  margin-top: 34px;
}

.aboutHeader {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #f93b1d;
  display: none;
}

.aboutMeRight textarea {
  margin-top: 15px;
  width: 400px;
  height: 700px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;
  padding: 0;
  overflow: scroll;
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.aboutMeRight textarea::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

#preview-image {
  position: absolute;
  width: 246px;
  height: 246px;
  border-radius: 133px;
  margin-left: 400px;
  object-fit: cover;
}

footer {
  position: absolute;
}

.smallRedberryLogo {
  position: relative;
  left: 1178px;
  top: 994px;
}
